#header{
	background: url("assets/backgrounds/header.jpg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 700px;
}

.headerImg img{
	margin-top: 150px;
	margin-left: 46%;
}

#header h1{
	text-align: center;
	color: white;
	font-weight: bolder;
}

#header h6{
	text-align: center;
	color: white;
	font-weight: bolder;
	margin-bottom: 150px;
}

.mouseClick{
	cursor: pointer;
	margin-left: 50%;
}

#mouse{
	animation: bounce 2s infinite;
}

#aboutUs{
	padding: 30px;
	margin: 20px;
	text-align: center;
}

.services{
	background: url("assets/backgrounds/s_image.jpg");
	background-position: center;
	text-align: center;
	color: white;
	width: 100%;
	padding: 130px;
}

.whatwedo{
	margin-bottom: 50px;
	margin-left: 55px;
}

.whatwedo h1{
	padding: 10px 0px 10px 0px;	
	text-align: center;
}

.txt1{
	display: none;
	color: red;
}

.txt2{
	display: none;
	color: green;
}

.txt3{
	display: none;
	color: blue;
}

.whatwedo .col-md-4{
	padding: 20px;
	width: 100%;
}

.whatwedo .col-md-4 p{
	padding: 10px;
	margin: 10px;
}

.whatwedo .col-md-4{
	padding: 10px;
	box-shadow: 3px 3px 3px black;
	text-align: center;
	cursor: pointer;
}

.heading{
	text-align: center;
}

/*.portfolio h1{
	text-align: center;
	padding: 10px 0px 10px 0px;
}

.box img{
	width: 100%;
	float: right;
	background-color: black;
}*/

.image-frame img{
	background-color: black;
	width: 100%;
	height: auto;
	padding: 5px;
	margin: 5px 5px 10px 5px;
	box-shadow: 2px 2px 2px 2px red;
}*/

.footer{
	background: url("assets/backgrounds/c_image.jpg");
	background-attachment: fixed;
	height: 650px;
	color: white;
}

.footer h1{
	padding: 30px;
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}

#contactForm{
	margin-left: 250px;
}

input::placeholder{
	color: white;
}

.footer input{
	background-color: transparent;
	color: white;
	padding: 3px;
	margin-top: 50px;
	margin-right: 200px;
	width: 300px;
}

#textArea{
	color: white;
	padding-bottom: 200px;
	width: 800px;
}

.submitBtn{
	margin: 30px 0px 20px 350px;
	padding: 10px;
	background-color: black;
	border: 1px solid gold;
	color: white;
	transition: background-color 0.5s ease-out;
}

	.submitBtn:hover{
	margin: 30px 0px 20px 350px;
	padding: 10px;
	background-color: transparent;
	border: 1px solid gold;
	border-radius: 10px;
	color: gold;
	transition: all 0.5s ease-in;
    }

#output{
	text-align: center;
	display: none;
	background-color: black;
	color: white;
	padding: 5px;
	margin: 0px 50px 0px 50px;
}

.socials {
	margin: 50px 30% 10px 28%;
}

.socials p{
	text-align: center;
	margin-top: 20px;
	font-size: 10px;
	font-weight: bold;
}